html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Reset styles */
* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

/* Remove list styles */
li {
    list-style: none;
}

/* Set default image widths */
img {
    width: 100%;
    display: block;
}

/* Make font size 10px */
html {
    font-size: 62.5%;
    overflow-x:hidden;
}

/* Set fonts and and default font size */
body {
    font-family: 'Catamaran', sans-serif;
    font-family: 'Nova Flat', cursive;
    font-size: 1.6rem;
}

/* Set wrapper dimensions */
.wrapper {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}


/* ======== HERO SECTION ======== */

/* move "Skip to main" link for accessibility */
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skipLink:focus {
    left: 0;
}

/* Hero background image */
header {
    background-image: url("./assets/image-1@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

/* Hide hamburger menu */
.hamburgerMenu {
    display: none;
}

/* Styling for horizontal and hamburger navigation menus */
.horizontalMenu ul {
    padding: 30px 0 0 0;
    text-align: center;
}

.horizontalMenu li {
    display: inline-block;
    margin: 0 20px;
    color: #186684;
}

.horizontalMenu a,
.contactInfo a {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.9rem;     
}

.horizontalMenu a,
.hamburgerMenu a {
    color: #186684;
    transition: color 0.4s ease;
}

.horizontalMenu a:hover,
.horizontalMenu a:focus,
.hamburgerMenu a:hover,
.hamburgerMenu a:focus {
    color: #E85B26;
}

/* Styling for social media icon links */
.socialMedia {
    float: right;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    right: 50px;
    text-align: center;
}

.socialMedia i {
    color: #E85B26;
    font-size: 2rem;
    margin: 10px;
    transition: color 0.4s ease;
}

/* .socialMedia i:hover, */
.socialMedia i:hover,
.socialMedia a:focus i {
    color: #186684;
}

/* Title styles */
h1 {
    color: #186684;
    font-size: 14rem;
    line-height: .8;
    background-color: #E3E4EA;
    opacity: 89%;
    font-weight: lighter;
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 35%;
    margin-right: 100px;
}

h1 span {
    display: block;
}

/* ======== MAIN SECTION ======== */

/* Styling for article images, text and "Read more" link */
h2 {
    margin: 0;
    padding: 0;
}

.specializeSummary,
.footCareSummary,
.footCareImage {
    float: left;
    width: 50%;
}

.specializeImage {
    float: right;
    width: 50%;
}

.footCareImage,
.specializeImage {
    min-width: 450px

}

.specializeSummary div,
.footCareSummary div {
    width: 75%;
    margin: 0 auto;
    padding-top: 10%;
}

.specializeSummary h2,
.footCareSummary h2,
.givingBackSummary h2,
.contactDetails h2,
.updated h2 {
    font-size: 4.2rem;
    font-weight: 400;
}

.specializeSummary h2,
.footCareSummary h2,
.givingBackSummary h2 {
    color: #186684;
    white-space: nowrap;
}

.specializeSummary p,
.footCareSummary p {
    max-height: 175px;
    overflow: hidden;
}

.specializeSummary p,
.footCareSummary p,
.givingBackSummary p,
.contactDetails p,
.updated p {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 29px;
}

.specializeSummary p,
.footCareSummary p,
.givingBackSummary p {
    margin-bottom: 25px;
}

.readMore {
    color: #186684;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    padding: 10px 15px;
    border: 3px solid #E85B26;
    transition: background-color 0.5s ease
}

.readMore:hover,
.readMore:focus {
    background-color: #186684;
    color: #F4F4F4;
}

.givingBack {
    background-color: #F4F4F4;
    padding: 50px 0;
}
.givingBackImage {
    float: left;
    width: 30%;
}

.givingBackWrapper {
    width: 90%;
    margin: 0 auto;
}

.givingBackImage img {
    width: 75%;
}

.givingBackSummary {
    float: left;
    width: 70%;
}

.givingBackSummary p {
    max-height: 115px;
    overflow: hidden;
}

/* Styling for "Products", "Community" and "Reach out" icons and links */
.menuIcons {
    background-image: url("./assets/image-5@2x.png");
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}

.iconWrapper {
    background-color: #F4F4F4;
    display: inline-block;
    padding: 50px;
}

.menuIcons span {
    display: block;
}

.productsIcon,
.communityIcon,
.reachOutIcon {
    float: left;
    margin: 0 10px;
    font-size: 3rem;
    font-weight: 600; 
    text-align: center;
}

.communityIcon {
    padding: 0 50px;
}

.productsIcon i,
.communityIcon i,
.reachOutIcon i {
    font-size: 6rem;
    color: #E85B26;
    padding-bottom: 10px;
}

.productsIcon a,
.communityIcon a,
.reachOutIcon a {
    font-family: 'Catamaran', sans-serif;
    color: #186684;
    transition: color 0.4s ease;
}

.iconWrapper a:hover,
.iconWrapper a:focus {
    color: #E85B26
}

/* Styling for instagram title and gallery */
.theGram {
    padding: 50px 0;
}

.theGram h2 {
    text-align: center;
    padding-bottom: 50px;
    color: #186684;
    font-size: 4.2rem;
    font-weight: 400;
    text-transform: capitalize;
}

.firstPic,
.middlePic,
.lastPic {
    float: left;
    width: calc((100% - 50px) / 3);
}

.gallery {
    width: 90%;
    margin: 0 auto;
}

.middlePic {
    margin: 0 25px;
}

/* Styling for contact info and newsletter subscription link */
.contactInfo {
    background-color: #F4F4F4;
    padding: 50px 0 ;
}

.contactInfo nav ul {
    text-align: center;
    margin-bottom: 20px;
}

.contactInfo nav li {
    display: inline;
    margin: 0 5px;
}

.contactInfo a {
    color: #1F2022;
    transition: color 0.4s ease;
}

.contactInfo a:hover,
.contactInfo a:focus {
    color: #E85B26  ;
}

.contactWrapper {
    width: 90%;
    margin: 0 auto;
}

.contactDetails,
.updated {
    float: left;
    width: 50%;
}

.contactDetails h2,
.updated h2 {
    color: #E85B26;
}

.contactDetails h2,
.updated p {
        margin-bottom: 10px;
}

.updated input {
    float: left;
    width: 75%;
    padding: 12px 0 12px 30px;
}

.updated button {
    width: 25%;
    color: #F4F4F4;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    background-color: #186684;
    padding: 10px 0;
    border: 2px solid #E85B26;
    transition: background-color 0.5s ease;
}

.updated button:hover,
.updated button:focus {
    background-color: #F4F4F4;
    color: #186684;
}

/* Styling for copyright text in footer */
footer {
    font-family: 'Catamaran', sans-serif;
    background-color: #1F2022;
    color: darkgray;
    text-align: center;
    padding: 10px 0;
}


/* ======== FIRST BREAKPOINT - 940px ======== */

@media (max-width: 940px) {
    /* Adjust width and center title */
    h1 {
        width: 543px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    /* Hide social media icons */
    .socialMedia {
        display: none;
    }

    /* Move articles and article images to stack on top of each other */
    .specializeImage,
    .footCareImage {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    
    .specializeImage img,
    .footCareImage img {
        height: 250px;
        object-fit: cover;
        object-position: 0 60%;
    }

    .specializeSummary,
    .footCareSummary {
        float: none;
        margin: 0 auto;
        width: 90%;
    }

    .specializeSummary div,
    .footCareSummary div {
        width: 100%;
        text-align: center;
        padding-top: 10%;
        height: 400px;
    }

    .specializeSummary h2,
    .footCareSummary h2 {
        text-align: center;
    }

    .footCareSummary {
        float: none;
    }

    .footCareImage {
        width: 100%;
    }
}

/* ======== SECOND BREAKPOINT - 768px ======== */
@media (max-width: 768px) {
    /* Adjust width and font size */
    h1 {
        font-size: 11rem;
        width: 430px;
    }

    /* Move "Giving back" image and article to stack on top of each other */
    .givingBackImage {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .givingBackSummary,
    .givingBackImage img {
        width: 100%;
        margin: 0 auto;
    }

    .givingBackSummary h2 {
        
        padding-top: 50px;
        text-align: center;
    }

    .givingBackSummary p {
        max-height: 800px;
    }

    .givingBackSummary {
        display: block;
        text-align: center;
    }

    /* Move "Produc", "Community" and "Reach out" icons and links to stack on top of each other */
    .productsIcon,
    .communityIcon,
    .reachOutIcon {
        float: none;
    }

    .communityIcon {
        padding: 60px 0;
    }

    /* Move subscribe button below email input field and widen both to fill div */
    .updated input,
    .updated button {
        display: block;
        width: 100%;
    }

    .updated input {
        margin-bottom: 10px;
        padding: 12px 0;
        text-align: center;
    }
}

/* ======== THIRD BREAKPOINT - 650px ======== */
@media (max-width: 650px) {
    /* Move contact details and newsletter subscription sections to stack on top of each other */
    .contactDetails,
    .updated {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .contactDetails {
        margin-bottom: 30px;
    }

    .contactDetails h2,
    .updated h2 {
        margin-bottom: 20px;
    }
}

/* ======== LAST BREAKPOINT - 480px ======== */

@media (max-width: 480px) {
    /* Adjust hero background image to better position shoe image */
    header {
        background-position-x: 30%;
    }

    /* Offset title to the right */ 
    h1 {
        font-size: 9rem;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        left: 15%;
        right: 0;
    }

    /* Hide top horizontal navigation menu links */
    .horizontalMenu ul {
        visibility: hidden;
    }

    /* Display hamburger menu */
    .hamburgerMenu {
        display: block;
    }

    /* Set toggle for hamburger menu */
    .menuToggle {
        display: block;
        position: relative;
        left: 80%;
        top: -20px;
    }

    .menuToggle input {
        display: block;
        width: 35px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .menuToggle ul {
        background-color: rgba(227, 228,234, 60%);
        width: 90px;
    }

    /* Style spans to make hamburger menu icon*/
    .topBun,
    .meat,
    .bottomBun {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background-color: #186684;
        border-radius: 3px;
    }

    /* Animate top and bottom lines of hamburger menu to expand when selected */
    .topBun {
        transition: transform 0.5s ease-in-out;
    }

    .bottomBun {
        transition: transform 0.5s ease-in-out;
    }

    .menuToggle input:checked ~ .topBun {
        transform: translate(0, -5px);
    }

    .menuToggle input:checked ~ .bottomBun {
        transform: translate(0, 5px);
    }

    /* Make menu links slide in from the right and have transparency fade in/out */
    .hamburgerMenu ul {
        position: absolute;
        opacity: 0;
        transition: transform 0.8s ease,
        opacity 0.8s ease;
        transform: translateX(100%);
        transform-origin: top left;
    }

    /* Add social media icons/links to hamburger navigation menu */
    .instagram,
    .snapchat,
    .facebook,
    .twitter {
        float: left;
        width: 50%;
        text-align: center;
    }  

    .menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
    }

    .menuToggle input ~ ul {
        opacity: 0;
    }

    /* Style hamburger menu links */
    .hamburgerMenu li {
        font-size: 2rem;
        margin-top: 20px;
    }

    /* Hide last image in instagram gallery */
    .lastPic {
        display: none;
    }

    /* Adjust sizing and styling for instagram gallery images */
    .firstPic,
    .middlePic,
    .lastPic {
        width: calc((100% - 20px) / 2);
    }

    .gallery img {
        width: 100%;
        display: block;
    }

    .firstPic {
        margin: 0 20px 0 0;
    }

    .middlePic {
        margin: 0;
    }

    /* Spread out footer navigation menu links */
    .contactInfo nav {
        width: 90%;
        margin: 0 auto;
    }

    .contactInfo nav li {
        margin: 0;
        width: 25%;
    }

    /* Add margin to the "About" and "Blog" navigation menu (used nth-child for practice)  */
    .footerNav li:nth-child(2) {
        margin: 0 15px 0 30px;
    }

    .footerNav li:nth-child(3) {
        margin: 0 30px 0 15px;
    }
}